@import "../../style/scss/variabel.scss";

.introduction {
	background-color: #0f0f0f;
	min-height: 100vh;
	display: grid;
	place-items: center;
	position: relative;

	&__img {
		position: absolute;
		top: 100px;
		left: -215px;
		transform: scale(0.9);
		z-index: 1;
	}

	.row {
		justify-content: space-between;
		align-items: center;
	}

	&__left {
		color: white;
		z-index: 2;
		&__header {
			font-weight: 600;
			font-size: 34px;
			span {
				color: $default-green-color;
			}
		}

		&__paragraph {
			font-size: 13px;
			letter-spacing: 1px;
			line-height: 30px;
			color: $default-light-gray-color;
			font-weight: 300;
		}
	}

	&__right {
		z-index: 2;
	}
}
