@import "../../style/scss/variable.scss";

.introduction {
	background-color: #0f0f0f;
	position: relative;
	padding: 100px 0;
	&__img {
		position: absolute;
		top: 100px;
		left: -215px;
		transform: scale(0.9);
		z-index: 1;

		@media screen and(max-width:578px) {
			left: -240px;
		}
	}

	.row {
		justify-content: space-between;
		align-items: center;
	}

	&__left {
		color: white;
		z-index: 2;
		&__header {
			font-weight: 600;
			font-size: 34px;
			span {
				color: $default-green-color;
			}
		}

		&__paragraph {
			font-size: 13px;
			letter-spacing: 1px;
			line-height: 30px;
			color: $default-light-gray-color;
			font-weight: 300;
		}
	}

	&__right {
		z-index: 2;

		@media screen and(max-width:992px) {
			margin-top: 70px;
		}
		@media screen and(max-width:578px) {
			transform: scale(0.9);
		}
	}
}
