@import "../../../style/scss/variable.scss";

.benefit {
	min-height: 200px;
	&__margin {
		background-color: $default-green-color;
		border-radius: 10px;
		padding: 20px 30px;
		box-shadow: 3px 8px 10px #000000ce;
		transition: 1s ease-out;
		transform: translateY(50px);
		opacity: 0;
		&__header {
			font-size: 20px;
			font-weight: 600;
		}

		&__paragraph {
			font-size: 13px;
			line-height: 28px;
			margin: 0;
			@media screen and (max-width: 768px) {
				line-height: 26px;
			}
		}

		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			width: 4%;
			height: 100%;
			background-color: darken($color: $default-green-color, $amount: 5);
			transition: 1s ease-out;
		}

		&:hover {
			margin-top: -8px;
			background-color: darken($color: $default-green-color, $amount: 4);
			&::before {
				background-color: lighten($color: $default-green-color, $amount: 7);
			}
		}
		@media screen and (max-width: 992px) {
			margin-bottom: 30px !important;
		}
		@media screen and (max-width: 576px) {
			padding: 25px 30px;
		}
		&.onscreen-effect {
			transform: unset;
			opacity: 1;
		}
	}
}
