@import "../../style/scss/variabel.scss";

.defaultbtn {
	padding: 13px 30px;
	border-radius: 50px;
	margin-top: 70px;
	color: white;
	background-color: $default-blue-grey-darken-color;
	outline: none;
	border: none;
	letter-spacing: 2px;
	font-size: 13px;
	box-shadow: 3px 5px 10px #0a0a0a;
	transition: 0.3s ease;
	&:hover {
		transform: translateY(-5px) scale(0.99);
		background-color: darken($color: $default-blue-grey-darken-color, $amount: 1);
	}

	&:active {
		background-color: darken($color: $default-blue-grey-darken-color, $amount: 5);
	}
}
