@import "../../style/scss/variable.scss";

.default-btn {
	padding: 13px 30px;
	border-radius: 50px;
	outline: none;
	border: none;
	letter-spacing: 2px;
	font-size: 13px;
	box-shadow: 3px 5px 10px #0a0a0a;
	transition: 0.3s ease;
	@media screen and (max-width: 425px) {
		padding: 13px 25px;
	}
}

.blue {
	background-color: $default-blue-grey-darken-color;
	&:hover {
		transform: translateY(-5px) scale(0.99);
		background-color: darken($color: $default-blue-grey-darken-color, $amount: 1);
	}

	&:active {
		background-color: darken($color: $default-blue-grey-darken-color, $amount: 5);
	}
}

.green {
	background-color: $default-green-color;
	&:hover {
		transform: translateY(-5px) scale(0.99);
		background-color: darken($color: $default-green-color, $amount: 7);
	}

	&:active {
		background-color: darken($color: $default-green-color, $amount: 10);
	}
}
