@import "../../../style/scss/variable.scss";

.introduction {
	padding: 100px 0;
	&__img {
		top: 100px;
		left: -215px;
		transform: scale(0.9);
		z-index: 1;
		pointer-events: none;
		@media screen and(max-width:576px) {
			left: -240px;
		}
		@media screen and(max-width:425px) {
			left: -200px;
			top: 120px;
			transform: scale(0.7);
		}
	}

	&__left {
		z-index: 2;
		transform: translateY(50px);
		transition: 1s ease-out;
		content-visibility: hidden;
		min-height: 360px;
		opacity: 0;
		&__header {
			font-weight: 600;
			span {
				color: $default-green-color;
			}
			@media screen and(max-width:425px) {
				font-size: 30px;
			}
		}

		&__paragraph {
			font-size: 13px;
			letter-spacing: 1px;
			line-height: 30px;
			color: $default-light-gray-color;
			font-weight: 300;
		}

		&.onscreen-effect {
			transform: unset;
			content-visibility: auto;
			opacity: 1;
		}
	}

	&__right {
		z-index: 2;
		transform: translateX(50px);
		content-visibility: hidden;
		transition: 1s ease-out;
		opacity: 0;
		min-height: 360px;
		@media screen and(max-width:992px) {
			margin-top: 70px;
		}
		@media screen and(max-width:425px) {
			margin-top: 30px;
			transform: scale(0.85) !important;
		}
		&.onscreen-effect {
			transform: unset;
			content-visibility: auto;
			opacity: 1;
		}
	}
	@media screen and(max-width:425px) {
		padding: 100px 0 0 0;
	}
}
