@import "../../../style/scss/variable.scss";
.header {
	background-color: #3a3a3a48;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100vw;
	transition: background-color 0.3s ease, width 0s unset;
	&__nav {
		padding: 12px 0;
		@media screen and (max-width: 576px) {
			position: relative;
		}
		&__logo {
			font-size: 26px;
			font-weight: bold;
			a {
				text-decoration: none;
			}
			@media screen and (max-width: 425px) {
				font-size: 21px;
			}
		}
		&__navigations {
			list-style-type: none;
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-right: 18px;
			@media screen and (max-width: 576px) {
				transition: 0.3s ease-out;
				visibility: hidden;
				position: fixed;
				top: 0;
				right: 0;
				width: 70%;
				height: 100vh;
				background-color: $default-blue-grey-darken-color;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-end;
				box-shadow: 10px 10px 30px 10px #1b1b1bd3;
				transform: translateX(105%);
				margin-right: 0 !important;
			}
			&.active {
				visibility: visible;
				transform: translateX(0);
			}

			&__navigation {
				font-size: 15px;
				a {
					cursor: pointer;
					text-decoration: none;
				}

				&:hover::before {
					width: 25px;
				}

				&::before {
					content: "";
					position: absolute;
					bottom: -2px;
					left: 50%;
					transform: translate(-50%, -50%);
					width: 0;
					height: 2px;
					background-color: #fff;
					transition: 0.3s ease-in-out;
				}

				@media screen and (max-width: 576px) {
					margin-bottom: 30px;
					&--first {
						margin-top: 70px;
					}
				}
			}
		}

		&__hamburger {
			display: none;
			width: 30px;
			height: 20px;
			cursor: pointer;
			&__line {
				display: inline-block;
				width: 100%;
				height: 4px;
				border-radius: 3px;
				background-color: whitesmoke;
				transition: 0.3s ease;
				&.nav__hamburger__line--dissapear.active {
					opacity: 0;
				}
				&.nav__hamburger__line--rotate {
					&-first.active {
						transform: rotate(38deg) translate(3px, 5px);
						transform-origin: center;
					}
					&-end.active {
						transform: rotate(-40deg) translate(6px, -8px);
						transform-origin: center;
					}
				}
			}

			@media screen and (max-width: 576px) {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
			}
		}
	}

	&--dark {
		background-color: #1f1f1fbd;
	}
}

.header .container {
	padding: 0 6px;

	@media screen and (max-width: 576px) {
		padding: 0 15px;
	}
}
