.heading-detail {
	position: relative;
	font-weight: 500;
	display: inline-block;
	opacity: 0;
	transform: translateY(50px);
	// transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
	transition: 1s ease-out;
	&.onscreen-effect {
		opacity: 1;
		transform: unset;

		&::after {
			width: 150px;
		}
	}

	&::after {
		content: "";
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: -170px;
		width: 0;
		height: 2px;
		background-color: hsl(0, 0%, 100%);
		transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
	}

	@media screen and (max-width: 768px) {
		&::after {
			width: 140px;
		}
	}

	@media screen and (max-width: 425px) {
		font-size: 24px;
	}
}
