@import "../../../style/scss/variable.scss";

.contact {
	min-height: 780px;
	background: linear-gradient(#1e2125d7, #1e2125d7), url(../../assets/img/bg-contact.webp);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	content-visibility: hidden;
	padding-bottom: 100px;
	.form {
		background-color: #10151a;
		border-radius: 10px;
		transform: translateY(100px);
		transition: 1s ease-out;
		content-visibility: hidden;
		&__heading {
			font-weight: 500;
		}
		&__main {
			&__right {
				&__label {
					font-size: 13px;
					margin-top: 20px;
					@media screen and (max-width: 992px) {
						margin-top: 0;
					}
				}
				&__textarea {
					height: 100px;
					padding: 10px;
					width: 100%;
					border-radius: 5px;
					background-color: #151d25;
					color: $default-light-gray-color;
					border: none;
					outline: none;
					resize: none;
					font-size: 13px;
					margin-bottom: 20px;
				}
			}
		}
		&.onscreen-effect {
			transform: unset;
			opacity: 1;
			content-visibility: auto;
		}
	}
	&.onscreen-effect {
		content-visibility: auto;
	}
	@media screen and (max-width: 425px) {
		padding: 50px 0;
	}
}
