@import "../../style/scss/variabel.scss";
.heading {
	margin-top: 150px;
	&__backgroundtext {
		position: absolute;
		user-select: none;
		color: $default-green-color;
		&--left {
			left: -150px;
			margin-top: 20px;

			@media screen and (max-width: 992px) {
				display: none;
			}
		}

		&--right {
			right: -140px;
			margin-top: -3px;
		}
	}
	&__header {
		font-weight: 600;
		font-size: 34px;
		margin-bottom: 100px;
		position: relative;
		width: 100%;
		span {
			color: $default-green-color;
		}

		&::after {
			content: "";
			position: absolute;
			top: 49%;
			left: 50%;
			transform: translate(190px, -50%);
			width: 60%;
			height: 3px;
			background-color: whitesmoke;
			border-radius: 5px;
		}
	}
}
