@import "../../style/scss/variable.scss";
.heading {
	margin-top: 60px;
	&__backgroundtext {
		user-select: none;
		color: #0f5a587c;
		transition: 1s ease-out;
	}
	&__header {
		font-weight: 600;
		font-size: 34px;
		margin-bottom: 100px;
		span {
			color: $default-green-color;
		}
	}
	&.right {
		.heading__backgroundtext {
			&--right {
				right: 50%;
				transform: translateX(50%);
				margin-top: 0px;
				&.onscreen-effect {
					right: -140px;
					margin-top: -4px;
					transform: unset;
				}
			}
			&--left {
				right: 50%;
				transform: translateX(50%);
				margin-top: 0px;
				@media screen and (max-width: 992px) {
					display: none;
				}
				&.onscreen-effect {
					left: -140px;
					margin-top: 10px;
					transform: unset;
				}
			}
		}

		.heading__header::after {
			content: "";
			position: absolute;
			top: 49%;
			right: 0;
			transform: translate(130%, -50%);
			width: 60%;
			height: 3px;
			background-color: #474747;
			border-radius: 5px;
			transition: 1s ease;
			@media screen and (max-width: 1200px) {
				transform: translate(210px, -50%);
			}
			@media screen and (max-width: 576px) {
				display: none;
			}
		}
		.heading__header.onscreen-effect::after {
			left: 50%;
			transform: translate(190px, -50%);
		}
	}
	&.left {
		.heading__backgroundtext {
			&--right {
				right: 50%;
				transform: translateX(50%);
				@media screen and (max-width: 992px) {
					display: none;
				}

				&.onscreen-effect {
					right: -140px;
					margin-top: 10px;
					transform: unset;
				}
			}
			&--left {
				left: 50%;
				transform: translateX(-50%);
				&.onscreen-effect {
					left: -140px;
					margin-top: -4px;
					transform: unset;
				}
			}
		}

		.heading__header::after {
			content: "";
			position: absolute;
			top: 49%;
			left: 0;
			transform: translate(-130%, -50%);
			width: 60%;
			height: 3px;
			background-color: #474747;
			border-radius: 5px;
			transition: 1s ease;
			@media screen and (max-width: 1200px) {
				transform: translate(160px, -50%);
			}
			@media screen and (max-width: 992px) {
				transform: translate(60px, -50%);
			}
			@media screen and (max-width: 768px) {
				transform: translate(15px, -50%);
			}
			@media screen and (max-width: 576px) {
				display: none;
			}
		}
		.heading__header.onscreen-effect::after {
			left: -50%;
			transform: translate(230px, -50%);
		}
	}
}

.heading__backgroundtext {
	@media screen and (max-width: 576px) {
		display: none;
	}
}
