@import "../../style/scss/variable.scss";

.card {
	&__margin {
		background-color: #10151a;
		border-radius: 10px;
	}

	&__header {
		padding: 20px 0;
		background-color: #151d25;
		h3 {
			font-size: 24px;
			font-weight: 500;
		}
	}

	&__price {
		&::before {
			position: absolute;
			content: "";
			bottom: -30px;
			left: 50%;
			transform: translateX(-50%);
			width: 80%;
			height: 1px;
			background-color: #d3d3d325;
		}
	}

	&__benefits {
		margin-top: 70px;
		span {
			padding: 0 30px;
			img {
				width: 17px;
				height: auto;
				margin: 2px 8px 0 0;
			}
			p {
				font-size: 13px;
				color: #acacac;
			}

			@media screen and (max-width: 765px) {
				padding: 0 50px;
			}
		}
	}
}
