@import "../../style/scss/variable.scss";

.card {
	&__margin {
		background-color: #10151a;
		border-radius: 10px;
		box-shadow: 5px 10px 10px rgba(10, 10, 10, 0.39);
		transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 240%;
			height: 150px;
			background-color: rgba(255, 255, 255, 0.027);
			box-shadow: 0 0 10px rgba(255, 255, 255, 0.048), inset 0 0 10px rgba(255, 255, 255, 0.048);
			transform: rotate(-40deg) translateX(-250px) translateY(-480px);
			transition: 0.4s ease-in-out;
		}
		&:hover {
			transform: scale(1.03);
			box-shadow: 10px 15px 10px rgba(10, 10, 10, 0.596);
			&::before {
				transform: rotate(-40deg) translateX(-200px) translateY(480px);
			}
		}
		@media screen and (max-width: 992px) {
			margin-bottom: 30px;
		}
		@media screen and (max-width: 767.5px) {
			margin: 0 60px 40px 60px;
		}
		@media screen and (max-width: 576px) {
			margin: 0 50px 40px 50px;
		}
	}

	&__header {
		padding: 20px 0;
		background-color: #151d25;
		h3 {
			font-size: 24px;
			font-weight: 500;
		}
	}

	&__price {
		&::before {
			position: absolute;
			content: "";
			bottom: -30px;
			left: 50%;
			transform: translateX(-50%);
			width: 80%;
			height: 1px;
			background-color: #d3d3d325;
			@media screen and (max-width: 768px) {
				width: 84%;
			}
		}
	}

	&__benefits {
		margin-top: 70px;
		span {
			padding: 0 30px;
			img {
				width: 17px;
				height: auto;
				margin: 2px 8px 0 0;
			}
			p {
				font-size: 13px;
				color: #acacac;
			}

			@media screen and (max-width: 768px) {
				padding: 0 30px;
			}
		}
	}
}
