.card {
  border-radius: unset;
  border: none;
  position: relative;
  padding: 0;
}

.card img {
  width: 100%;
  height: 100%;
}

.card__container {
  background-color: #1c1e20f1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 30px;
}

.card__name {
  margin: 0;
  font-weight: 600;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0;
}

@media screen and (max-width: 1200px) {
  .card__name {
    font-size: 25px;
  }
}

@media screen and (max-width: 992px) {
  .card__name {
    font-size: 20px;
  }
}

.card__country {
  color: #6b6b6b;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0;
}

.card__keterangan-singkat {
  width: 70%;
  font-size: 13px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0;
  margin: 0;
}

@media screen and (max-width: 992px) {
  .card__keterangan-singkat {
    width: unset;
  }
}

.card.onscreen-effect .card__container {
  -webkit-animation: containerToBottom 2s ease;
          animation: containerToBottom 2s ease;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.card.onscreen-effect .card__container.animation-end {
  height: 250px;
  bottom: 0;
  top: unset;
  -webkit-transition: unset;
  transition: unset;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.card.onscreen-effect .card__container.animation-end .card__name,
.card.onscreen-effect .card__container.animation-end .card__country,
.card.onscreen-effect .card__container.animation-end .card__keterangan-singkat {
  opacity: 1;
}

@media screen and (max-width: 992px) {
  .card.onscreen-effect .card__container.animation-end {
    height: 180px !important;
  }
}

.card.onscreen-effect .card__container.animation-start .card__name,
.card.onscreen-effect .card__container.animation-start .card__country,
.card.onscreen-effect .card__container.animation-start .card__keterangan-singkat {
  opacity: 0;
}

@media screen and (max-width: 992px) {
  .card.onscreen-effect .card__container {
    -webkit-animation: containerToBottomForTablet 2s ease;
            animation: containerToBottomForTablet 2s ease;
  }
}

.card.onscreen-effect .card__name,
.card.onscreen-effect .card__country,
.card.onscreen-effect .card__keterangan-singkat {
  -webkit-animation: textToTop 1s ease;
          animation: textToTop 1s ease;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.card.onscreen-effect:hover .card__container {
  height: 270px;
}

@media screen and (max-width: 992px) {
  .card.onscreen-effect:hover .card__container {
    height: 200px;
  }
}

.card.onscreen-effect:hover .card__overlay {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.card.onscreen-effect:hover .card__name {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.card.onscreen-effect:hover .card__country {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.card.onscreen-effect:hover .card__keterangan-singkat {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

@-webkit-keyframes containerToBottom {
  0% {
    height: 0%;
  }
  15% {
    height: 100%;
  }
  50% {
    top: unset;
    bottom: 0;
    height: 0%;
  }
  100% {
    top: unset;
    bottom: 0;
    height: 250px;
  }
}

@keyframes containerToBottom {
  0% {
    height: 0%;
  }
  15% {
    height: 100%;
  }
  50% {
    top: unset;
    bottom: 0;
    height: 0%;
  }
  100% {
    top: unset;
    bottom: 0;
    height: 250px;
  }
}

@-webkit-keyframes containerToBottomForTablet {
  0% {
    height: 0%;
  }
  15% {
    height: 100%;
  }
  50% {
    top: unset;
    bottom: 0;
    height: 0%;
  }
  100% {
    top: unset;
    bottom: 0;
    height: 180px;
  }
}

@keyframes containerToBottomForTablet {
  0% {
    height: 0%;
  }
  15% {
    height: 100%;
  }
  50% {
    top: unset;
    bottom: 0;
    height: 0%;
  }
  100% {
    top: unset;
    bottom: 0;
    height: 180px;
  }
}

@-webkit-keyframes textToTop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes textToTop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 425px) {
  .card {
    height: 280px !important;
  }
}
/*# sourceMappingURL=card-favourites.css.map */