.jumbotron {
  height: 100vh;
  border-radius: 0px;
  margin: -55px 0 0 0;
  background-position: center !important;
  background-repeat: no-repeat;
  background-size: cover !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#23232360), color-stop(#202020bb), color-stop(#131414e5), to(#101010)), url(../../img/cristina-gottardi.jpg);
  background: linear-gradient(#23232360, #202020bb, #131414e5, #101010), url(../../img/cristina-gottardi.jpg);
}

.jumbotron .container .row {
  height: 100%;
}

.jumbotron .container .row .tagline {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.jumbotron .container .row .tagline__heading {
  font-weight: 800;
  font-size: 50px;
  letter-spacing: 2px;
}

@media screen and (max-width: 1200px) {
  .jumbotron .container .row .tagline__heading {
    font-size: 40px;
  }
}

.jumbotron .container .row .tagline__paragraph {
  width: 370px;
  font-size: 13px;
}

.jumbotron .container .row .tagline__button {
  width: 40px;
  height: 40px;
  border: 3px solid white;
  background-color: transparent;
  border-radius: 50%;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.jumbotron .container .row .tagline__button:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.jumbotron .container .row .mount-information {
  padding: 0;
  padding-bottom: 80px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.jumbotron .container .row .mount-information .row .mount__name {
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  .jumbotron .container .row .mount-information .row .mount__name {
    font-size: 24px;
  }
}

.jumbotron .container .row .mount-information .row .mount__country {
  font-size: 17px;
  color: #6b6b6b;
}

@media screen and (max-width: 1200px) {
  .jumbotron .container .row .mount-information .row .mount__country {
    font-size: 15px;
  }
}

.jumbotron .container .row .mount-information .row .mount__description__container {
  height: 80px;
}

@media screen and (max-width: 992px) {
  .jumbotron .container .row .mount-information .row .mount__description__container {
    height: auto;
  }
}

.jumbotron .container .row .mount-information .row .mount__description {
  font-size: 13px;
}

@media screen and (max-width: 992px) {
  .jumbotron .container .row .mount-information .row .mount__description {
    display: none;
  }
}

.jumbotron .container .row .mount-information .row .mount__button {
  padding-left: 10px;
  width: 150px;
  height: 35px;
  border-radius: 10px;
  font-size: 14px;
  outline: none;
  border: none;
}

.jumbotron .container .row .mount-information .row .mount__button span:last-child {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 7px;
}

.jumbotron .container .row .mount-information .row .mount__button span:last-child:hover {
  background-color: #cfcfcf;
}

@media screen and (max-width: 768px) {
  .jumbotron .container .row .mount-information .row .mount__button span:last-child {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .jumbotron .container .row .mount-information .row .mount__button span:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .jumbotron .container .row .mount-information .row .mount__button {
    width: 90px;
  }
}

@media screen and (max-width: 576px) {
  .jumbotron .container .row .mount-information .row .mount__button {
    width: 130px;
  }
}

.jumbotron .container .row .mount-information .row .picture picture {
  margin-right: 15px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 4px 10px #0f0f0f50;
          box-shadow: 3px 4px 10px #0f0f0f50;
}

.jumbotron .container .row .mount-information .row .picture picture div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #111213da;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 2;
}

.jumbotron .container .row .mount-information .row .picture picture div span {
  font-size: 27px;
  cursor: pointer;
  -webkit-filter: drop-shadow(10px 10px 40px 3px black);
          filter: drop-shadow(10px 10px 40px 3px black);
}

.jumbotron .container .row .mount-information .row .picture picture img {
  width: 250px;
  height: 150px;
  border-radius: 10px;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

@media screen and (max-width: 1200px) {
  .jumbotron .container .row .mount-information .row .picture picture img {
    width: 220px;
    height: 130px;
  }
}

@media screen and (max-width: 992px) {
  .jumbotron .container .row .mount-information .row .picture picture img {
    height: 120px;
  }
}

@media screen and (max-width: 576px) {
  .jumbotron .container .row .mount-information .row .picture picture img {
    height: 185px;
    margin-left: -20px;
  }
}

.jumbotron .container .row .mount-information .row .picture picture:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.jumbotron .container .row .mount-information .row .picture picture:hover div {
  opacity: 1 !important;
}

.jumbotron .container .row .mount-information .row .picture__button {
  cursor: pointer;
}

.jumbotron .container .row .mount-information .row .picture__button span {
  font-size: 24px;
}

.jumbotron .container .row .mount-information .row .picture__button p {
  font-size: 13px;
}

@media screen and (max-width: 576px) {
  .jumbotron .container .row .mount-information .row {
    width: 135%;
    background-color: lawngreen;
  }
}

@media screen and (max-width: 576px) {
  .jumbotron {
    margin: -85px 0 0 0;
  }
}
/*# sourceMappingURL=jumbotron.module.css.map */