.header {
  background-color: #3a3a3a48;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  -webkit-transition: background-color 0.3s ease, width 0s unset;
  transition: background-color 0.3s ease, width 0s unset;
}

.header__nav {
  padding: 12px 0;
}

@media screen and (max-width: 576px) {
  .header__nav {
    position: relative;
  }
}

.header__nav__logo {
  font-size: 26px;
  font-weight: bold;
}

.header__nav__logo a {
  text-decoration: none;
}

@media screen and (max-width: 425px) {
  .header__nav__logo {
    font-size: 21px;
  }
}

.header__nav__navigations {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 18px;
}

@media screen and (max-width: 576px) {
  .header__nav__navigations {
    -webkit-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100vh;
    background-color: #151d25;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-shadow: 10px 10px 30px 10px #1b1b1bd3;
            box-shadow: 10px 10px 30px 10px #1b1b1bd3;
    -webkit-transform: translateX(105%);
            transform: translateX(105%);
    margin-right: 0 !important;
  }
}

.header__nav__navigations.active {
  visibility: visible;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header__nav__navigations__navigation {
  font-size: 15px;
}

.header__nav__navigations__navigation a {
  cursor: pointer;
  text-decoration: none;
}

.header__nav__navigations__navigation:hover::before {
  width: 25px;
}

.header__nav__navigations__navigation::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0;
  height: 2px;
  background-color: #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 576px) {
  .header__nav__navigations__navigation {
    margin-bottom: 30px;
  }
  .header__nav__navigations__navigation--first {
    margin-top: 70px;
  }
}

.header__nav__hamburger {
  display: none;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.header__nav__hamburger__line {
  display: inline-block;
  width: 100%;
  height: 4px;
  border-radius: 3px;
  background-color: whitesmoke;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.header__nav__hamburger__line.nav__hamburger__line--dissapear.active {
  opacity: 0;
}

.header__nav__hamburger__line.nav__hamburger__line--rotate-first.active {
  -webkit-transform: rotate(38deg) translate(3px, 5px);
          transform: rotate(38deg) translate(3px, 5px);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.header__nav__hamburger__line.nav__hamburger__line--rotate-end.active {
  -webkit-transform: rotate(-40deg) translate(6px, -8px);
          transform: rotate(-40deg) translate(6px, -8px);
  -webkit-transform-origin: center;
          transform-origin: center;
}

@media screen and (max-width: 576px) {
  .header__nav__hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header--dark {
  background-color: #1f1f1fbd;
}

.header .container {
  padding: 0 6px;
}

@media screen and (max-width: 576px) {
  .header .container {
    padding: 0 15px;
  }
}
/*# sourceMappingURL=navbar.css.map */