@import "../../style/scss/variable.scss";

.contact {
	background: linear-gradient(#1e2125d7, #1e2125d7), url(../../img/bg-contact.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding-bottom: 100px;
	.form {
		background-color: #10151a;
		border-radius: 10px;
		&__heading {
			font-weight: 500;
		}

		&__main {
			&__right {
				&__label {
					font-size: 13px;
					margin-top: 20px;
				}
				&__textarea {
					height: 100px;
					padding: 10px;
					width: 100%;
					border-radius: 5px;
					background-color: #151d25;
					color: $default-light-gray-color;
					border: none;
					outline: none;
					resize: none;
					font-size: 13px;
					margin-bottom: 20px;
				}
			}
		}
	}
}
