@import "../../style/scss/variable.scss";
.header {
	background-color: #3a3a3a48;
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	transition: 0.3s ease;
	.nav {
		padding: 12px 0;
		@media screen and (max-width: 576px) {
			position: relative;
		}
		&__logo {
			font-size: 26px;
			font-weight: bold;
			a {
				text-decoration: none;
			}
		}
		&__navigations {
			list-style-type: none;
			display: flex;
			justify-content: space-between;
			align-items: center;
			@media screen and (max-width: 576px) {
				transition: 0.3s ease-out;
				visibility: hidden;
				position: absolute;
				top: 0;
				right: 0;
				width: 70%;
				height: 100vh;
				background-color: $default-blue-grey-darken-color;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-end;
				box-shadow: 10px 10px 30px 10px #1b1b1bd3;
				transform: translateX(105%);
			}
			&.active {
				visibility: visible;
				transform: translateX(0);
			}
		}

		&__navigation {
			a {
				text-decoration: none;
				font-size: 15px;
			}

			&:hover::before {
				width: 25px;
			}

			&::before {
				content: "";
				position: absolute;
				bottom: -2px;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 0;
				height: 2px;
				background-color: #fff;
				transition: 0.3s ease-in-out;
			}

			@media screen and (max-width: 576px) {
				margin-bottom: 30px;
				&--first {
					margin-top: 70px;
				}
			}
		}

		&__hamburger {
			display: none;
			width: 30px;
			height: 20px;
			cursor: pointer;
			&__line {
				display: inline-block;
				width: 100%;
				height: 4px;
				border-radius: 3px;
				background-color: whitesmoke;
			}

			&__line {
				transition: 0.3s ease;
				&.nav__hamburger__line--dissapear.active {
					opacity: 0;
				}
				&.nav__hamburger__line--rotate {
					&-first.active {
						transform: rotate(38deg) translate(3px, 5px);
						transform-origin: center;
					}
					&-end.active {
						transform: rotate(-40deg) translate(6px, -8px);
						transform-origin: center;
					}
				}
			}

			@media screen and (max-width: 576px) {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
			}
		}
	}

	&--dark {
		background-color: #1f1f1fbd;
	}
}
