@import "../../style/scss/variable.scss";

.jumbotron {
	height: 100vh;
	border-radius: 0px;
	margin: -55px 0 0 0;
	background-position: center !important;
	background-repeat: no-repeat;
	background-size: cover !important;
	background: linear-gradient(#23232360, #202020bb, #131414e5, #101010), url(../../img/cristina-gottardi.jpg);
	overflow: hidden;
	.container {
		height: 100%;
		display: grid;
		place-items: center;
		.row {
			flex-direction: column;
			justify-content: space-evenly !important;
			height: 100%;
			.tagline {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-end;
				flex: 1;
				padding-bottom: 20px;
				color: white;
				&__heading {
					font-weight: 800;
					font-size: 50px;
					letter-spacing: 2px;
					margin: 0;
					@media screen and (max-width: 1200px) {
						font-size: 40px;
					}
				}
				&__paragraph {
					width: 370px;
					text-align: center;
					font-size: 13px;
				}

				&__button {
					width: 40px;
					height: 40px;
					border: 3px solid white;
					background-color: transparent;
					border-radius: 50%;
					transition: 0.3s ease;
					&:hover {
						transform: scale(0.95);
					}
				}
			}
			.mount-information {
				flex: 1;
				padding-bottom: 80px;
				.row {
					flex-direction: row;
					align-items: flex-end;
					justify-content: space-between;
					.mount {
						color: white;
						&__name {
							font-weight: bold;
							margin: 0;
							@media screen and (max-width: 1200px) {
								font-size: 24px;
							}
						}

						&__country {
							font-size: 17px;
							color: $default-dark-gray-color;
							@media screen and (max-width: 1200px) {
								font-size: 15px;
							}
						}

						&__description {
							font-size: 13px;

							@media screen and (max-width: 992px) {
								display: none;
							}
						}

						&__button {
							display: flex;
							justify-content: space-between;
							align-items: center;
							padding-left: 10px;
							width: 150px;
							height: 35px;
							border-radius: 10px;
							font-size: 14px;
							overflow: hidden;
							outline: none;
							border: none;

							span:last-child {
								transition: 0.2s ease;
								height: 100%;
								display: flex;
								align-items: center;
								justify-content: center;
								padding: 0 7px;
								&:hover {
									background-color: $default-light-gray-color;
								}

								@media screen and (max-width: 768px) {
									display: none;
								}

								@media screen and(max-width: 576px) {
									display: flex;
								}
							}

							@media screen and (max-width: 768px) {
								width: 90px;
							}
							@media screen and (max-width: 578px) {
								width: 130px;
							}
						}
					}
					.picture {
						display: flex;
						justify-content: flex-end;
						align-items: center;
						padding: 0;
						picture {
							position: relative;
							margin-right: 15px;
							border-radius: 10px;
							overflow: hidden;
							box-shadow: 3px 4px 10px #0f0f0f50;
							display: grid;
							place-items: center;
							span {
								position: absolute;
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
								display: flex;
								justify-content: center;
								align-items: center;
								background-color: #111213da;
								opacity: 0;
								transition: 0.3s ease;
								user-select: none;
								z-index: 2;
								span {
									font-size: 27px;
									cursor: pointer;
								}
							}
							img {
								width: 250px;
								height: 150px;
								border-radius: 10px;
								transition: 0.3s ease-out;

								@media screen and (max-width: 1200px) {
									width: 220px;
									height: 130px;
								}
								@media screen and (max-width: 992px) {
									height: 120px;
								}

								@media screen and(max-width: 576px) {
									height: 185px;
									margin-left: -50px;
								}
							}
							&:hover {
								img {
									transform: scale(1.1);
								}

								span {
									opacity: 1 !important;
								}
							}
						}
						&__button {
							cursor: pointer;
							span {
								font-size: 24px;
							}
							p {
								font-size: 13px;
							}
						}
					}

					@media screen and(max-width:576px) {
						width: 140%;
					}
				}
			}
		}
	}
	@media screen and (max-width: 576px) {
		margin: -85px 0 0 0;
	}
}
