@import "../../../style/scss/variable.scss";

.card {
	border-radius: unset;
	border: none;
	position: relative;
	padding: 0;
	img {
		width: 100%;
		height: 100%;
	}

	&__container {
		background-color: #1c1e20f1;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 0;
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding: 0 30px;
	}

	&__name {
		margin: 0;
		font-weight: 600;
		transition: 0.5s ease;
		opacity: 0;
		@media screen and (max-width: 1200px) {
			font-size: 25px;
		}
		@media screen and (max-width: 992px) {
			font-size: 20px;
		}
	}

	&__country {
		color: $default-dark-gray-color;
		transition: 0.5s ease;
		opacity: 0;
	}

	&__keterangan-singkat {
		width: 70%;
		font-size: 13px;
		transition: 0.5s ease;
		opacity: 0;
		margin: 0;
		@media screen and (max-width: 992px) {
			width: unset;
		}
	}

	&.onscreen-effect {
		.card__container {
			animation: containerToBottom 2s ease;
			animation-delay: 0.3s;
			&.animation-end {
				height: 250px;
				bottom: 0;
				top: unset;
				transition: unset;
				transition: transform 0.5s ease;
				.card__name,
				.card__country,
				.card__keterangan-singkat {
					opacity: 1;
				}
				@media screen and (max-width: 992px) {
					height: 180px !important;
				}
			}
			&.animation-start {
				.card__name,
				.card__country,
				.card__keterangan-singkat {
					opacity: 0;
				}
			}
			@media screen and (max-width: 992px) {
				animation: containerToBottomForTablet 2s ease;
			}
		}
		.card__name,
		.card__country,
		.card__keterangan-singkat {
			animation: textToTop 1s ease;
			animation-delay: 2s;
		}
		&:hover {
			.card__container {
				height: 270px;
				@media screen and (max-width: 992px) {
					height: 200px;
				}
			}
			.card__overlay {
				transform: scale(1.05);
			}
			.card__name {
				transform: translateY(-10px);
				transition-delay: 0.1s;
			}
			.card__country {
				transform: translateY(-10px);
				transition-delay: 0.2s;
			}
			.card__keterangan-singkat {
				transform: translateY(-10px);
				transition-delay: 0.3s;
			}
		}
	}

	@keyframes containerToBottom {
		0% {
			height: 0%;
		}
		15% {
			height: 100%;
		}
		50% {
			top: unset;
			bottom: 0;
			height: 0%;
		}
		100% {
			top: unset;
			bottom: 0;
			height: 250px;
		}
	}
	@keyframes containerToBottomForTablet {
		0% {
			height: 0%;
		}
		15% {
			height: 100%;
		}
		50% {
			top: unset;
			bottom: 0;
			height: 0%;
		}
		100% {
			top: unset;
			bottom: 0;
			height: 180px;
		}
	}

	@keyframes textToTop {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
	@media screen and (max-width: 425px) {
		height: 280px !important;
	}
}
