@import "../../style/scss/variable.scss";

.feature {
	&__heading {
		color: $default-green-color;
		&__icon {
			background-color: $default-green-color;
			width: 25px;
			height: auto;
		}
	}

	&__paragraph {
		font-size: 13px;
		line-height: 28px;
		color: $default-light-gray-color;
	}
}
