@import "../../style/scss/variabel.scss";

.feature {
	&__heading {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		color: $default-green-color;
		margin-bottom: 15px;
		&__icon {
			background-color: $default-green-color;
			width: 25px;
			height: auto;
		}

		&__header {
			margin: 0 0 0 5px;
		}
	}

	&__paragraph {
		font-size: 13px;
		line-height: 28px;
		color: $default-light-gray-color;
	}
}
