@import "../../style/scss/variable.scss";

.benefit {
	margin-bottom: 30px;
	&__margin {
		background-color: $default-green-color;
		border-radius: 7px;
		padding: 7px 30px;
		text-align: center;
		overflow: hidden;
		box-shadow: 3px 8px 10px rgba(0, 0, 0, 0.808);
		transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		position: relative;
		&__header {
			font-size: 20px;
			font-weight: 600;
		}

		&__paragraph {
			font-size: 13px;
			line-height: 28px;
		}

		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			width: 4%;
			height: 100%;
			background-color: darken($color: $default-green-color, $amount: 5);
			transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		}

		&:hover {
			transform: translateY(-5px);
			background-color: darken($color: $default-green-color, $amount: 4);
			&::before {
				background-color: lighten($color: $default-green-color, $amount: 7);
			}
		}
	}
}
